<%% provide(:title, "Listing <%= plural_table_name %>") %>

<table class="ui single line table">
  <thead>
    <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
        <td>
          <div class="ui small icon buttons">
            <%%= link_to(<%= singular_table_name %>, class: "ui button") do %>
              <i class="unhide icon"></i>
            <%% end %>
            <%%= link_to(edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: "ui button") do %>
              <i class="edit icon"></i>
            <%% end %>
            <%%= link_to(<%= singular_table_name %>, class: "negative ui button", method: :delete, data: { confirm: "Are you sure you want to delete this <%= singular_table_name %>?" }) do %>
              <i class="trash icon"></i>
            <%% end %>
          </div>
      </tr>
    <%% end %>
  </tbody>
</table>

<br>

<%%= link_to(new_<%= singular_table_name %>_path, class: "ui button") do %>
  <%%= fa_icon("plus", text: "New <%= human_name %>") %>
<%% end %>
